body {
    font-family: 'Arial', sans-serif;
    background-color: #464444;
    color: #ffffff;
}

#homeButton, #email {
    color: rgb(0, 162, 255);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

#email{
    position: fixed;
    top: 0;
    right: 0;
}

#containers, #sliderElements{
    display: flex;
    align-items: center;  
    justify-content: center;          
}

#controls {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center; 
}

#excludedDiv{
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-right: 20px;
}


#container4, #heatmapWrapper  {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#controls label {
    font-size: 1.5em;  
    margin-right: 5px;
}

#controls span {
    margin-right: 20px;  
    margin-left: 5px;
    font-size: 1.5em;  
    width: 25px
}

input[type=range] {
    width: 100%; 
}

.x-axis text, .y-axis text {
    font-size: 18px;
}

#xAxisLabel { 
    font-size: 20px;
    fill: #ffffff;
    text-align: center;
}

svg .dragColorbarLabel{
    font-size: 15px;
    fill: rgb(255, 248, 116);
    right: 20%;
    align-content: center;
}

svg .LFP-label {
    font-size: 20px;
    fill: #ffffff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-anchor: middle;
}

#colorbarLabel, #yAxisLabel {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 24px;
    display: inline-block;
}


#channelButtonContainer, #groupButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 1.2em;
}


.colorbar-rect {
    cursor: pointer;
}


#sliderContainer{
    width: 500px;
    text-align: right;
    overflow: hidden; 
}


.divUploadButtons:hover .tooltipText {
    display: block;
}


.tooltipText {
    display: none;
    position: absolute;
    background-color: #065214;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
}


#dataForm{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 2em;
}


.inputValues, .timeInput {
    padding: 5px 10px;
    font-size: 1.1em;
    border-radius: 5px; 
    text-align: center;
    width: 250px;
    font-weight: bold;
}


.groupButton.active, #buttonANOVA.active, #buttonMean.active, 
#buttonPCA.active, #buttonBonf.active, #buttonNew.active, 
#buttonBaseline.active{
    background-color: #555;
    color: white;
}


#computeButtonsDiv{
    flex: 1; 
    display: flex;
    justify-self: flex-start;
    align-items: center; 
    position: relative;
}


#pcaDiv{
    display:flex;
    flex-direction: column;
    margin-left: 2em;
}

#pcaHeader{
    display: flex;
    padding-right: 3em;
}

h2{
    margin: 0;
    padding-inline: .5em;
}

#pcaList {
    display:flex;
    flex-direction: column;
    height: 20em; 
    overflow-y: auto;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;  
    padding: 0;  
}

#pcaList li {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);  
    cursor: pointer;
    color: rgb(0, 0, 0); 
}

#pcaList li.selected {
    background-color: blue;  
    color: white;              
}


 #buttonPCA.active:hover + #formPCA, #formPCA:hover, 
 #buttonANOVA.active:hover + #buttonBonf, #buttonBonf:hover {
    display: flex;
}

#buttonBonf {
    display:none;
}

#ANOVAdiv{
    display: grid;
    place-items: center; 
}

#buttonMean, #buttonANOVA, #buttonExclude, 
#buttonBaseline, #buttonPCA, #buttonBonf{
    padding: 5px 10px;
    font-size: 1.1em;
    border-radius: 5px; 
}

.uploadButtons, .groupButton, #buttonNew, #prevChan, #nextChan {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    width: 200px;
}

#categoryDiv{ 
    display: flex;
    justify-content: center;
    }

#uploadDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categoryText, #uploadText{
    text-align: center;
    margin-top: 50px;
}

.categoryButton, #uploadDiv button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 20px 20px;
}

#uploadButtonsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#sessionText {
    position: absolute;
    transform: translate(-450px, 15%);
}

#chanSelect {
    width: 30%; 
    height: 40px;
    font-size: 24px;
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 5px; 
}

#chanSelect option {
    white-space: pre;
}


#AWSdiv{
    position: fixed;
    right: 0;
    bottom: 0;
}

#AWSlogo img{
    height: 45px;
    width: auto;
}

#AWStext {
    font-size: 80%;
}
